
  <style media="screen">
    /* <!--メイン画面いっぱいに設定-->*/
    html, body {
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;
    }
    #map{
      z-index: 100;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
    .leaflet-background-pane {
      z-index: 100;
    }
    /*<!--Zoomボタンのサイズ-->*/
    .leaflet-bar a, .leaflet-bar a:hover {
       width: 104px;
       height: 104px;
       line-height: 104px;
    }
    .leaflet-bar a:first-child {
       border-top-left-radius: 16px;
       border-top-right-radius: 16px;
    }
    .leaflet-bar a:last-child {
       border-bottom-left-radius: 16px;
       border-bottom-right-radius: 16px;
    }
    .leaflet-touch .leaflet-bar a {
      width: 104px;
      height: 104px;
      line-height: 104px;
    }

    /*<!--地図切り替えボタンのサイズ-->*/
    .leaflet-control-layers-toggle {
      width: 104px;
      height: 104px;
    }
    .leaflet-retina .leaflet-control-layers-toggle {
      background-size: 104px 104px;
    }
    .leaflet-touch .leaflet-control-layers-toggle {
      width: 104px;
      height: 104px;
    }

    /*スケール*/
    .leaflet-control-scale-line {
      border: 2px solid #777;
      border-top: none;
      line-height: 1.1;
      padding: 2px 5px 1px;
      font-size: 50px;
      white-space: nowrap;
      overflow: hidden;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
      background: #fff;
      background: rgba(200, 200, 200, 0.5);
      }

    /*アトリビューション　Copyrifht*/
    .leaflet-container .leaflet-control-attribution {
        font-size: 30px;
    }

    /*追加ボタン*/
    .leaflet-bar button {
      height: 100px !important;
      width: 100px !important;
      font-size: 50px;
      padding: 16px;
    }

    /*ポップアップサイズ*/
  .leaflet-popup-tip-container {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    overflow: hidden;
    pointer-events: none;
  }


  </style>